<% include ../../../partials/aluno-top %>
<div class="card-body">
  <!-- Content -->
  <h3> Material didatico: </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item"><a href="/profile/turmas">Turmas</a></li>
      <li class="breadcrumb-item"><a href="/turmas/abrir/<%=sala%>">Painel da turma</a></li>
      <li class="breadcrumb-item active"><a href="/turmas/didaticos/abrir/<%=sala%>/<%=didatico[0].id%>">Material
          didático</a></li>
    </ol>
  </nav>

  <div class="col-md-10">
    <div class="card">

      <div class="card-header">
        <h5>
          <%= didatico[0].titulo%>
        </h5>
      </div>

      <div class="card-body">
        <h5>
          <%= didatico[0].descricao%>
        </h5>
      </div>

      <div class="card-body">

        <% for (let i = 0; i < paths.length; i++ ) { %>
        <a href="/turmas/didaticos/abrir/<%= didatico[0].id%>/download/<%= paths[i].file_name%>" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-1"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="col-md-10">

              <%= paths[i].file_name %>

            </div>
          </div>
        </a>
        <% } %>
      </div>

      <br>
    </div>
  </div>
  <!-- end content -->
</div>
<% include ../../../partials/aluno-bottom %>