<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1> Exercicio: </h1>
        <hr>
        
            <div class="card">
                
                <div class="card-header">
                    <h5><p><%= questao[0].titulo%></p></h5>
                </div>

                <div class="card-body">
                    <h5><p><%= questao[0].descricao%></p></h5>
                </div>

            </div>
            <br>
            <div class="card">
                
                <div class="card-header">
                    <h5><p>Material para download</p></h5>
                </div>

                <div class="card-body">
                    <% for (let i = 0; i < paths.length; i++ ) { %>
                        <a href="/professor/exercicios/abrir/<%= questao[0].id%>/download/<%= paths[i].file_name%>" class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-md-1"><i class="fa fa-download" aria-hidden="true"></i></div>
                                <div class="col-md-10"><p><%= paths[i].file_name %></p></div>
                            </div>
                        </a>
                    <% } %>
                </div>

            </div>

    </main>

    <% include ../../../partials/scripts.ejs %>
</body>

</html>