<% include ../../../partials/professor-top %>
<div class="card-body">
  <h3> Exercício: </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item"><a href="/professor/profile/exercicios">Exercícios</a></li>
      <li class="breadcrumb-item active"><a href="#">Detalhe do exercício</a></li>
    </ol>
  </nav>

  <div class="card">

    <div class="card-header">
      <h5>
        <%= questao[0].titulo%>
      </h5>
    </div>

    <div class="card-body">
      <%= questao[0].descricao%>
    </div>
    

  </div>
  <br>

  <% if(paths.length != 0){ %>

  <div class="card">
    <div class="card-header">
      <h5>
        Material para download
      </h5>
    </div>

    <div class="card-body">
      <% for (let i = 0; i < paths.length; i++ ) { %>
      <a href="/professor/exercicios/abrir/<%= questao[0].id%>/download/<%= paths[i].file_name%>"
        class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-md-1"><i class="fa fa-download" aria-hidden="true"></i></div>
          <div class="col-md-10">
            <%= paths[i].file_name %>
          </div>
        </div>
      </a>
      <% } %>
  
    </div>

  </div>
  <% } %>

  <div class="row">
    <div class="col-md-3">
      <a class="btn btn-secondary" href="/professor/profile/exercicios">Voltar</a>
    </div>
  </div>

</div>
<% include ../../../partials/professor-bottom %>