<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Lista de exercicios: </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item active"><a href="#">Lista de exercícios</a></li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-1">
      <a class="btn btn-success " href="/professor/exercicios/lista/criar">Criar</a>
    </div>
  </div>
  <br>
  <div class="row ml-1">
    <label for="selecionarTurma">Suas Listas criadas: </label>
  </div>

  <div class="form-group">
    <div class="list-group">

      <li class="list-group-item col-md-10 col-sm-12 ">
        <div class="row">
          <div class="col-4">
            <b>Título</b>
          </div>

          <div class="col-4">
            <b>Tipo</b>
          </div>

          <div class="col-4">
            <b>Opções</b>
          </div>

        </div>
      </li>

      <!-- elemento 1 -->
      <% for (var i = 0; i < lista.length; i++ ) { %>
      <li class="list-group-item col-md-10 col-sm-12 " value="<%=lista[i].id%>">

        <div class="row">
          <div class="col-4">
            <%=lista[i].titulo%>
          </div>

          <div class="col-4">
            <%=lista[i].tipo%>
          </div>

          <div class="col-md-4 col-sm-12">
            <a href="/professor/exercicios/lista/abrir/<%=lista[i].id%>/info">
              <button type="submit" class="btn btn-sm btn-secondary">Abrir Lista</button>
            </a>
            <a href="/professor/exercicios/lista/excluir/<%=lista[i].id%>">
              <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
            </a>
          </div>

        </div>
      </li>
      <% } %>

    </div>
  </div>

</div>
<% include ../../../partials/professor-bottom %>