<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Lista de exercicios: </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item active"><a href="#">Lista de exercícios</a></li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-1">
      <a class="btn btn-success " href="/professor/exercicios/lista/criar">Criar</a>
    </div>
  </div>
  <br>
  <div class="row ml-1">
    <label for="selecionarTurma">Suas Listas criadas: </label>
  </div>

  <div class="form-group">
    <div class="list-group">

      <li class="list-group-item col-md-10 col-sm-12 ">
        <div class="row">
          <div class="col-4">
            <b>Título</b>
          </div>

          <div class="col-4">
            <b>Tipo</b>
          </div>

          <div class="col-4">
            <b>Opções</b>
          </div>

        </div>
      </li>

      <!-- elemento 1 -->
      <% for (var i = 0; i < lista.length; i++ ) { %>
      <li class="list-group-item col-md-10 col-sm-12 " value="<%=lista[i].id%>">

        <div class="row">
          <div class="col-4">
            <%=lista[i].titulo%>
          </div>

          <div class="col-4">
            <%=lista[i].tipo%>
          </div>

          <div class="col-md-4 col-sm-12">
            <a href="/professor/exercicios/lista/abrir/<%=lista[i].id%>/info">
              <button type="submit" class="btn btn-sm btn-secondary">Abrir Lista</button>
            </a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelete"
              onclick="getSalaValues(<%=lista[i].id%>)">
              Excluir
            </button>
          </div>

        </div>
      </li>
      <% } %>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Você deseja realmente excluir?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <a id="useIdDelete">
            <button type="submit" class="btn btn-danger">Excluir</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <script>
    function getSalaValues(id) {
      href = "/professor/exercicios/lista/excluir/" + id;
      document.getElementById('useIdDelete').setAttribute('href', href);
    }
  </script>

</div>
<% include ../../../partials/professor-bottom %>