<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1> Turma: <%= infoProfessor[0].nome%>, <%= infoProfessor[0].semestre%> </h1>
        <hr>

        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/professor/turma/abrir/<%=idSala%>/professor">Alunos Matriculados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/professor/turma/abrir/<%=idSala%>/aluno">Área de Interação</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                
                <h4 class="card-title col-md-6 col-xs-12">Download do Programa</h4>
                <a href="#" class="btn btn-outline-secondary col-md-4 col-xs-12">Projel</a>
                
                <br><br>

                <h4 class="card-title col-md-6 col-xs-12">Lista de Exercícios</h4>
                <a href="/professor/turma/abrir/<%=idSala%>/aluno/incluirlista" class="btn btn-outline-secondary col-md-4 col-xs-12">Atribuir listas de exercício</a>
                
                <br><br>
               <div class="row">
                    <h4 class="card-title col-md-3">Listas</h4>
                </div>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <% for (var i = 0; i < lista.length; i++) { %>
                            <li class="list-group-item">
                                <div class="row">
                                    
                                    <div class="col-3"><%= lista[i].titulo%></div>
                                    
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>



            </div>
        </div>


    </main>

    <% include ../../../partials/scripts.ejs /%>
</body>

</html>