<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Turma:
    <%= infoProfessor[0].nome%>,
    <%= infoProfessor[0].semestre%>
  </h3>
  <hr>

  <div class="card">

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/professor/turma/abrir/<%=idSala%>/professor">Alunos Matriculados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/professor/turma/abrir/<%=idSala%>/aluno">Área de Interação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" disabled href="/professor/turma/abrir/<%=idSala%>/aluno">Configurações</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <h4 class="card-title">Alunos desta turma</h4>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <h6>Nomes</h6>
              </div>
              <div class="col-3">
                <h6>Aluno pertence a turma?</h6>
              </div>
              <div class="col-3">
                <h6>Avaliar exercícios:</h6>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="card">
        <ul class="list-group list-group-flush">
          <% for (var i = 0; i < listaDeAlunos.length; i++) { %>
          <li class="list-group-item">
            <div class="row">

              <div class="col-3">
                <%= listaDeAlunos[i].nome%>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-2">
                    <% if(listaDeAlunos[i].aluno_aceito === 0) { %>
                    <i class="fa fa-times red" aria-hidden="true"></i>
                    <% } else if(listaDeAlunos[i].aluno_aceito === 1){ %>
                    <i class="fa fa-check green" aria-hidden="true"></i>
                    <% } %>
                  </div>
                  <div class="col-10">
                    <% if(listaDeAlunos[i].aluno_aceito === 0) { %>
                    <form class="" action="/professor/turma/abrir/<%=idSala%>/professor" method="post">
                      <input class="btn btn-secondary btn-sm" type="submit" value="Incluir aluno" name="<%= listaDeAlunos[i].id_aluno%>"></input>
                    </form>
                    <% } else if(listaDeAlunos[i].aluno_aceito === 1){ %>
                    <input class="btn btn-secondary btn-sm" type="submit" value="Aluno incluso" disabled></input>
                    <% } %>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <a href="/professor/turma/abrir/<%=idSala%>/professor/<%=listaDeAlunos[i].id_aluno%>">
                  <input class="btn btn-secondary btn-sm" type="submit" value="Ver exercícios"></input>
                </a>
              </div>

            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </div>

  </div>
</div>
<% include ../../../partials/professor-bottom %>