<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1> Turma: <%= infoProfessor[0].nome%>, <%= infoProfessor[0].semestre%> </h1>
        <hr>

        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/professor/turma/abrir/<%=idSala%>/professor">Alunos Matriculados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/professor/turma/abrir/<%=idSala%>/aluno">Área de Interação</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                
                <div class="row">                
                    <div class="col-md-5 col-sm-12">                
                        <h4 class="card-title">Lista de Exercícios</h4>
                        <a href="/professor/turma/abrir/<%=idSala%>/aluno/incluirlista" class="btn btn-outline-secondary col-md-5 col-sm-12">Atribuir listas</a>
                    </div>
                    <div class="col-md-5 col-sm-12">                
                        <h4 class="card-title">Download do Programa</h4>
                        <a href="#" class="btn btn-outline-secondary col-md-5">Projel</a>
                    </div>
                </div>
                
                <br><br>

                <h4 class="card-title">Adicionar Comentário: </h4>
                <br>
                <h4 class="card-title ">( Quadro com comentário ) </h4>

                <br><br>
                <div class="row">
                    <h4 class="card-title col-md-3">Listas</h4>
                </div>

                    <ul class="list-group list-group-flush">
                        <% if ( lista.length === 0 ) { %>
                            <h5>Nenhuma lista disponivel, por favor, adicione alguma agora.</h5>
                        <% } else { %>
                            <div class="card">
                                <% for (var i = 0; i < lista.length; i++) { %>
                                    
                                    <li class="list-group-item"> 
                                        <div class="row"> <div class="col-3"><%= lista[i].titulo%></div> </div> 
                                    </li>

                                <% } %>
                            </div>
                        <% } %>
                    </ul>



            </div>
        </div>


    </main>

    <% include ../../../partials/scripts.ejs /%>
</body>

</html>