<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../partials/navbar-dashboard.ejs %>

        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>


            <!-- Content -->
            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

                <h1> Turmas </h1>

                <hr>

                <div class="form-group">
                    <label for="selecionarProfessor">Selecione o Professor</label>
                    <select class="form-control" id="selecionarProfessor" onchange="myFunc()">
                        <option value="0"> Escolha... </option>
                        <% for (var i = 0; i < listaSalaProfessor.length; i++){%>
                            <option value="<%= listaSalaProfessor[i].id %>"> Professor:
                                <%= listaSalaProfessor[i].nome %>
                            </option>
                            <% } %>
                    </select>
                    <br>

                    <a class="collapse" id="myAnchor">Abrir lista de Turmas</a>

                    <script>
                        function myFunc() {

                            var dropDown = document.getElementById( "selecionarProfessor" );
                            if ( dropDown.value !== '0' ) {

                                var anchor = document.getElementById( "myAnchor" );

                                var link = document.createAttribute( "href" );
                                link.value = "/profile/turmas/" + dropDown.value;

                                var anchorClass = document.createAttribute( "class" );
                                anchorClass.value = "btn btn-info";

                                anchor.setAttributeNode( anchorClass );
                                anchor.setAttributeNode( link );
                            }
                        }
                    </script>
                </div>

                <br>

                <h4>Lista de turmas:</h4>

                <div class="list-group">

                    <% for (var i = 0; i < listaSalaAluno.length; i++){%>
                        <div class="row align-items-center ml-2 justify-content-between">

                            <div class="col-6">
                                <li class="list-group-item" value="<%=listaSalaAluno[i].id%>">
                                    <%=listaSalaAluno[i].nome%>,
                                        <%=listaSalaAluno[i].semestre%>
                                </li>
                            </div>

                            <div class="col-4">
                                <a href="/profile/turmas/<%=listaSalaAluno[i].id%>">
                                    <button type="submit" class="btn btn-info">Abrir</button>
                                </a>
                                <a href="/professor/turma/editar/:id">
                                    <button type="submit" class="btn btn-warning">Editar</button>
                                </a>
                                <button type="submit" class="btn btn-danger" disabled>Excluir</button>
                            </div>


                        </div>
                        <%}%>

                </div>

            </main>

            <% include ../../partials/scripts.ejs /%>
</body>

</html>