<% include ../../../partials/aluno-top %>
<div class="card-body">
  <!-- Content -->

  <h3> Questões: </h3>
  <hr>

  <div class="row">
    <div class="col-md-10">
      <h6>
        <%=listaInfo[0].titulo%>
      </h6>
      <br>
      <h6>
        <%=listaInfo[0].descricao%>
      </h6>
      <br>

      <div class="list-group">
        <% for(var i = 0; i < exercicios.length; i++) { %>

        <a href="/turmas/abrir/<%= sala[0]%>/<%= lista[0]%>/<%= exercicios[i].id_exercicios %>" class="list-group-item list-group-item-action">
          <div class="row">
            <h6 class="col-md-6">
              <%= exercicios[i].titulo%>
            </h6>
          </div>
        </a>

        <% } %>
      </div>

    </div>
  </div>


  <!-- end content -->
</div>
<% include ../../../partials/aluno-bottom %>