<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1> Exercicio: </h1>
        <hr>
        
        <% for(var i = 0; i < exercicios.length; i++) { %>
            <div class="col-md-10">
                <div class="card">
                    
                    <div class="card-header">
                        <h5><p><%= exercicios[i].titulo%></p></h5>
                    </div>

                    <div class="card-body">
                        <h5><p><%= exercicios[i].descricao%></p></h5>
                    </div>

                    <div class="col-md-2">
                        <a href="/turmas/abrir/<%= sala[0]%>/<%= lista[0]%>/<%= exercicios[i].id_exercicios%>">
                            <button class="btn btn-secondary" >Responder</button>
                        </a>
                    </div>

                    <br>
                </div>
            </div>

            <br>

        <% } %>

    </main>

    <% include ../../../partials/scripts.ejs %>
</body>

</html>