<% include ../../../partials/aluno-top %>
<div class="card-body">
  <!-- content -->
  <h3> Questão: </h3>
  <hr>
  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item"><a href="/profile/turmas">Turmas</a></li>
      <li class="breadcrumb-item"><a href="/turmas/abrir/<%=sala%>">Painel da turma</a></li>
      <li class="breadcrumb-item"><a href="/turmas/abrir/listas/<%=sala%>/<%=lista%>">Lista de exercícios</a></li>
      <li class="breadcrumb-item active"><a href="/turmas/abrir/<%=sala%>/<%=lista%>/<%=exercicio[0].id%>">Exercício</a>
      </li>
    </ol>
  </nav>


  <div class="col-md-12">
    <div class="card">

      <div class="card-header">
        <h5>
          <%= exercicio[0].titulo%>
        </h5>
      </div>

      <div class="card-body">
        <h5>
          Descrição
        </h5>
        <h5>
          <%= exercicio[0].descricao%>
        </h5>
      </div>

      <div class="card-body">
        <% if( !(file_name.length === 0) ) {%>
        <h5>
          Conteúdo para download:
        </h5>
        <% for( let i = 0; i < file_name.length; i++)  {%>
        <a href="/exercicios/download/<%= exercicio[0].id%>/<%= encodeURIComponent(file_name[i].file_name)%>"
          class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-md-1"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="col-md-10">
              <%= file_name[i].displayName %>
            </div>
          </div>
        </a>
        <% } %>

        <% } else { %>
        <!-- Nenhum arquivos para download -->
        <% } %>
      </div>

      <div class="card-body">
        <form class="form-group" action="/turmas/abrir/<%= sala%>/<%= lista%>/<%= exercicio[0].id %>" method="post">
          <h5>
            RESPOSTA
          </h5>
          <textarea class="form-control col-md-10" name="resposta" rows="15"><%= respostaAluno%></textarea>
          <br>
          <input class="btn btn-outline-secondary col-md-2 col-sm-12" type="submit" value="Enviar">
        </form>
      </div>

      <br>
    </div>
  </div>
</div>
<% include ../../../partials/aluno-bottom %>