<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Conteúdo: </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item"><a href="/professor/didatico">Material Didático</a></li>
      <li class="breadcrumb-item active"><a href="#">Material Didático</a></li>
    </ol>
  </nav>

  <div class="card">

    <div class="card-header">
      <h5>
        <%= conteudo[0].titulo%>
      </h5>
    </div>

    <div class="card-body">
      <h5>
        <%= conteudo[0].descricao%>
      </h5>
    </div>

  </div>
  <br>

  <% if(paths.length != 0){ %>

  <div class="card">

    <div class="card-header">
      <h5>
        Material para download
      </h5>
    </div>

    <div class="card-body">
      <% for (let i = 0; i < paths.length; i++ ) { %>
      <a href="/professor/didatico/abrir/<%= conteudo[0].id%>/download/<%= paths[i].file_name%>"
        class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-md-1"><i class="fa fa-download" aria-hidden="true"></i></div>
          <div class="col-md-10">
            <p>
              <%= paths[i].file_name %>
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>

  </div>

  <% } %>

  <div class="row mt-3">
    <div class="col-md-3">
      <a class="btn btn-secondary" href="/professor/didatico">Voltar</a>
    </div>
  </div>

</div>
<% include ../../../partials/professor-bottom %>