<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
        <!-- <style> *{border: 1px solid red;} </style> -->
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>


    <!-- Content -->
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <h1> Atribuir notas </h1>

        <hr>
            
        <h4>Listas: </h4>
        
        <% for(let i = 0; i < lista.length; i++) { %>
            <div class="row col-md-11 col-sm-12">

                <form class="col-md-12 row" action="/professor/turma/abrir/<%=id_sala%>/professor/<%=id_aluno%>/<%=lista[i].id_lista%>" method="post">
                    <li class="list-group-item col-md-5" value="#"><h6><%=lista[i].titulo%></h6></li>
                    <input type="text" class="form-control col-md-2" placeholder="Nota" name="nota">
                    <input class="col-md-2 btn btn-default" value="Salvar" type="submit"></input>
                    <label class="col-md-2 list-group-item">
                        <%console.log(notas[i])%>    
                        <% if(notas[i].nota === null){ %>
                            <h6>Nota: ?</h6>
                        <%} else {%>
                            <h6>Nota: <%=notas[i].nota%></h6>
                        <%}%>
                    </label>
                </form>

            </div>
            <br>
        <% } %>

    </main>

    <% include ../../../partials/scripts.ejs /%>
    
</body>

</html>