<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Respostas </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item"><a href="/professor/turmas">Turmas</a></li>
      <li class="breadcrumb-item"><a href="/professor/turma/abrir/<%=id_sala%>/professor">Alunos Matriculados</a></li>
      <li class="breadcrumb-item"><a href="/professor/turma/abrir/<%=id_sala%>/professor/<%=id_aluno%>">Exercícios</a>
      </li>
      <li class="breadcrumb-item active"><a href="#">Resposta</a></li>
    </ol>
  </nav>

  <% for( let i = 0; i < respostas.length; i++ ){ %>

  <div class="col-md-10">
    <div class="card row">
      <div class="card-header">
        <h4 class="card-title">
          <%= respostas[i].titulo%>
        </h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= respostas[i].resposta%>
        </p>
      </div>
    </div>
  </div>

  <br>

  <% } %>

</div>
<% include ../../../partials/professor-bottom %>