<% include ../../../partials/aluno-top %>
  <div class="card-body">
    <!-- content -->
    <h3>
      <%console.log('===============sql==============')%>
        <%console.log(sala)%>
          <%= sala[0].nome+', '+sala[0].semestre %>
  </h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item"><a href="/turmas">Turmas</a></li>
      <li class="breadcrumb-item active"><a href="/turmas/abrir/<%=sala[0].id%>">Painel da turma</a></li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">

      <% if(aluno_aceito === 0){ %>
      <h5>Esperando autorização professor</h5>
      <% } else if (aluno_aceito === 1){ %>
      <h4>Observações do professor:</h4>
      <textarea class="form-control col-md-10" id="campoComentario" rows="4"
        readonly><%= sala[0].comentario %></textarea>
      <br>

      <h4>Listas de exercícios:</h4>

      <ul class="list-group list-group-flush">
        <% if ( lista.length === 0 ) { %>
        <h5>Nenhuma lista disponivel.</h5>
        <% } else { %>
        <% for (var i = 0; i < lista.length; i++) { %>
        <a href="/turmas/abrir/listas/<%= sala[0].id%>/<%= lista[i].id_lista%>/"
          class="list-group-item list-group-item-action">
          <h5>
            <%= lista[i].titulo %>
          </h5>
        </a>
        <% } %>
        <% } %>
      </ul>

      <br>

      <h4>Materiais didáticos:</h4>

      <ul class="list-group list-group-flush">
        <% if ( didatico.length === 0 ) { %>
        <h5>Nenhuma material disponível.</h5>
        <% } else { %>
        <% for (var i = 0; i < didatico.length; i++) { %>
        <a href="/turmas/didaticos/abrir/<%= sala[0].id%>/<%= didatico[i].id_didatico%>/"
          class="list-group-item list-group-item-action">
          <h5>
            <%= didatico[i].titulo %>
          </h5>
        </a>
        <% } %>
        <% } %>
      </ul>

      <% } %>
    </div>
  </div>
  <!-- end content -->
</div>
<% include ../../../partials/aluno-bottom %>